div.annonce{
 padding: 15px;
 background: #6495ED;
 background-clip: border-box;
 height: 250px;
}

h1 {
  color: white;
left: 80px;
position: absolute;
font-family: sans-serif;
}

.exampleText {
  color: white;
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 90px;
  position: absolute;
  font-family: sans-serif;
}

.virnumm {
margin: 80px;
}

.sich {
  margin: 80px;
  position: absolute;
  top: 50px;

}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.doudesannonce {
  position: absolute;
  left: 590px;
}

.new {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 320px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}

.newannonce {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 400px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}

.tabelle {
  position: absolute;
  left: 80px;
  top: 310px;
}
.sich {
    color: white;
}
.verstuerwe {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 770px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}

.perso {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 900px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}
.populartabelle {
  position: absolute;
  left: 80px;
  top: 750px;
}

.kaerz {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1210px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
}

.thirdtabelle {
  position: absolute;
  left: 80px;
  top: 1190px;
}

.premium {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1210px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 380px;
}

.partners {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1300px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 380px;
}

.fourtabelle {
  position: absolute;
  left: 420px;
  top: 1190px;
}

.wat {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1220px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 740px;
}

.maachen {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1257px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 740px;
}

.bei {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1343px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 740px;
}

.engem {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1373px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 740px;
}

.doudesfall {
  writing-mode: vertical-lr;
  inline-size: 110px;
  margin: -5px;
  top: 1440px;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  left: 740px;
}
.fifthtabelle {
  position: absolute;
  left: 780px;
  top: 1190px;
}

.doudesannonce {
  position: absolute;
  left: 590px;
  background-color: #6495ED;
  padding: 14px 40px;

}
div.annonce{
 padding: 15px;
 background: #008CBA;
 background-clip: border-box;
 height: 250px;
}
